<main>
    <section class="text-left">
        <img class="rounded mx-1 mt-4 mb-1" alt="logo" src="/jpg/Logo/1_Primary.png">
    </section>
    <section class="bg-submit px-5 pt-3 pb-2">
        <% if @errorMessage %>
        <div class="text-center alert-danger">
            <%= @errorMessage %>
        </div>
        <% end %>
        <div class="text-left">
            <div class="form-group row">
                <div class="col-sm-2">
                    <label class="text-sex h5">性別</label>
                </div>
                <div class="col-sm-8 btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-success focus active" style="width:50%" id="selectedLabelMan" name="selectedLavelSex">
                        <input type="radio" name="selectedSex" id="selectedMan" autocomplete="off" checked onclick="changeSexForced()">
                        男性
                    </label>
                    <label class="btn btn-default" style="width:50%" id="selectedLabelWoman" name="selectedLavelSex">
                        <input type="radio" name="selectedSex" id="selectedWoman" autocomplete="off" onclick="changeSexForced()">
                        女性
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mb-3">
                <input type="input" class="form-control" name="" maxlength="20" placeholder="名前(20文字まで)">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 mb-1">
                <textarea rows="3" class="form-control" name="" maxlength="140" placeholder="コメント(140文字まで)"></textarea>
            </div>
            <div class="col-sm-2">
                <input type="submit" class="btn btn-success btn-md float-right" value="投稿">
            </div>
        </div>
        </div>
    </section>
    <section class="bg-chat px-3 pt-3 pb-3">


        <img class="rounded float-left mx-1 mt-3 mb-1" alt="man_icon" src="/jpg/man_icon.jpeg">
        <p class="mb-1 mx-5">nameでっせnameでっせnameでっせ</p>
        <div class="mx-3 mb-2">
            <div class="man-talk-contents">
                <p class="mh-100 mx-5 p-2 ml-60 rounded shadow-sm text-left bg-man-line man-talk-contents">
                    talktalkでっせtalktalkでっせtalktalkでっせtalktalkでっせ
                </p>
            </div>
        </div>
        <img class="rounded float-right mx-1 mt-3 mb-1" alt="woman_icon" src="/jpg/woman_icon.jpeg">
        <p class="mb-1 mx-5">nameでっせnameでっせnameでっせ</p>
        <div class="mx-3 mb-2">
            <div class="woman-talk-contents">
                <p class="mh-100 mx-5 p-2 ml-60 rounded shadow-sm bg-woman-line text-left">
                    talktalkでっせtalktalkでっせtalktalkでっせtalktalkでっせ
                </p>
            </div>
        </div>
        <img class="rounded float-left mx-1 mt-3 mb-1" alt="man_icon" src="/jpg/man_icon.jpeg">
        <p class="mb-1 mx-5">nameでっせnameでっせnameでっせ</p>
        <div class="mx-3 mb-2">
            <div class="man-talk-contents">
                <p class="mh-100 mx-5 p-2 ml-60 rounded shadow-sm text-left bg-man-line man-talk-contents">
                    talktalkでっせtalktalkでっせtalktalkでっせtalktalkでっせ
                </p>
            </div>
        </div>
        <img class="rounded float-right mx-1 mt-3 mb-1" alt="woman_icon" src="/jpg/woman_icon.jpeg">
        <p class="mb-1 mx-5">nameでっせnameでっせnameでっせ</p>
        <div class="mx-3 mb-2">
            <div class="woman-talk-contents">
                <p class="mh-100 mx-5 p-2 ml-60 rounded shadow-sm bg-woman-line text-left">
                    talktalkでっせtalktalkでっせtalktalkでっせtalktalkでっせ
                </p>
            </div>
        </div>
    </section>
</main>