<main>
    <section　class="">
        <img class="rounded float-left mx-1 mt-3 mb-1" alt="man_icon" src="/jpg/man_icon.jpeg">
        <p class="mt-3 mb-1 mx-5">nameでっせnameでっせnameでっせ</p>
        <div class="mx-3 mb-1">
            <div class="man-talk-contents">
                <p class="mh-100 mx-5 p-2 ml-60 rounded shadow-sm text-left bg-man-line man-talk-contents">
                    talktalkでっせtalktalkでっせtalktalkでっせtalktalkでっせ
                </p>
            </div>
        </div>
        <img class="rounded float-right mx-1 mt-3 mb-1" alt="woman_icon" src="/jpg/woman_icon.jpeg">
        <p class="mt-3 mb-1 mx-5">nameでっせnameでっせnameでっせ</p>
        <div class="mx-3 mb-1">
            <div class="woman-talk-contents">
                <p class="mh-100 mx-5 p-2 ml-60 rounded shadow-sm bg-woman-line text-left">
                    talktalkでっせtalktalkでっせtalktalkでっせtalktalkでっせ
                </p>
            </div>
        </div>
        <img class="rounded float-left mx-1 mt-3 mb-1" alt="man_icon" src="/jpg/man_icon.jpeg">
        <p class="mt-3 mb-1 mx-5">nameでっせnameでっせnameでっせ</p>
        <div class="mx-3 mb-1">
            <div class="man-talk-contents">
                <p class="mh-100 mx-5 p-2 ml-60 rounded shadow-sm text-left bg-man-line man-talk-contents">
                    talktalkでっせtalktalkでっせtalktalkでっせtalktalkでっせ
                </p>
            </div>
        </div>
        <img class="rounded float-right mx-1 mt-3 mb-1" alt="woman_icon" src="/jpg/woman_icon.jpeg">
        <p class="mt-3 mb-1 mx-5">nameでっせnameでっせnameでっせ</p>
        <div class="mx-3 mb-1">
            <div class="woman-talk-contents">
                <p class="mh-100 mx-5 p-2 ml-60 rounded shadow-sm bg-woman-line text-left">
                    talktalkでっせtalktalkでっせtalktalkでっせtalktalkでっせ
                </p>
            </div>
        </div>
    </section>
</main>